<header>
    <h1 id="head">Beach City B list</h1>
</header>

<div class="container">
  {{#each characters}}
    <div class="profileList">
        <a href="/profile/{{id}}"><img class="profileimg" src="{{image}}" alt="{{name}}"></a>
    </div>
  {{/each}}
</div>