<div class='login-container'>
  <form id="login" action='/profile' method="POST">
    <label for='name'>Enter your name:</label><br>
    <input type='text' name='name'><br>
    <input type='submit' value='Warp in'>
  </form>
</div>