:root {
  --pink: #f16374;
  --aqua: #42a9b7;
  --blue: #3b6397;
  --gold: #fddb51;
  --dark: #132d3c;
}

body {
  background-image: url("https://i.imgur.com/dNmMrTr.jpg");
  background-position: center;
  background-size: cover;
  font-family: 'Concert One', cursive;
  margin: 0px;
  width: 100vw
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profileList {
  margin: 20px;
}

#head {
  font-size: 80px;
  text-align: center;
  color: var(--gold)
}

img {
  padding: 15px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.profileimg {
  width: 200px;
  height: auto;
  border-radius: 50px;
  background-color: #fddb51;
}

#comment-form {
  padding: 20px; 
}

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100vw;
  margin: 25px
}

.postImage {
  width: 85px;
  height: auto;
  border-radius: 50px;
  padding: 20px;
  background-color: #132d3c;
}

#post {
  background-color: rgba(19, 45, 60, 0.7);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: var(--pink);
  display: flex;
  flex-direction: row;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.login-container {
  background-image: url("https://i.imgur.com/g1uJZWc.jpg");
  background-size: cover;
  background-position: center;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 50px;
}

#login {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

input {
  margin: 10px, 0px, 0px, 0px
}

h1 {
  font-size: 80px;
}

p {
  font-size: 20px;
}
