:root {
  --pink: #f16374;
  --aqua: #42a9b7;
  --blue: #3b6397;
  --gold: #fddb51;
  --dark: #132d3c;
}

.login-container {
  background-image: url("https://i.imgur.com/g1uJZWc.jpg");
  background-size: cover;
  background-position: center;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
